{% extends 'base.html.twig' %}
{% block body %}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h1 class="h3 mb-0 text-gray-800">Mot de passe oublié</h1>
                </div>
                <div class="card-body">
                    {{ form_start(form, {'attr': {'class': 'user'}}) }}
                        <div class="form-group">
                            {{ form_label(form.email) }}
                            {{ form_widget(form.email, {'attr': {'class': 'form-control', 'placeholder': 'Adresse email'}}) }}
                            {{ form_errors(form.email) }}
                            {% if emailNotFound %}
                                <div id="emailError" class="text-danger">
                                    Email not found. Please check your email address.
                                </div>
                            {% endif %}
                        </div>
                        <br>
                        <button type="submit" class="btn btn-primary btn-user btn-block">
                            Envoyer
                        </button>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
